<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de la película</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h2>Página detalle</h2>
    <section>
    <h3> <%= movie.title %></h3>
    <img src="<%= movie.image %>" class="image" alt="">
    <p><%= movie.genre %></p>
    <p><%= movie.year %></p>
    </section>
</body>
</html>